#AddExpense{
  width: 88vw;
  margin-left: 12vw;
}
#Title{
    text-align: center;
    margin-top: 5vh;
    font-size: 2.5vw;
    font-weight: 600;
}

#FormContainer{
  text-align: center;
}

.FormLabel{
  text-align: left;
  display: inline-block;
  width: 10vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.FormInput{
  display: inline-block;
  width: 10vw;
}

#FormButton{
  width: 20vw;
  height: 3vh;
}